# Virtual environments
.venv/
__pycache__/
*.pyc

# Large models we don't need in deployment
backend/assets/model_tf/

# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp

# Node
frontend/node_modules/
frontend/dist/
